* {
	font-family: 'JetBrainsMono Nerd Font Propo', sans-serif;
	font-weight: bold;
	font-size: 15px;
}

window#waybar {
	background-color: #282828;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

window#waybar.termite {
	background-color: #282828;
}

window#waybar.chromium {
	background-color: #000000;
	border: none;
}

#workspaces {
	min-width: 0;
	padding: 0 0;
	margin: 0;
}

#workspaces button {
	padding: 0 10;
	margin: 0;
	background-color: transparent;
	color: #ebdbb2;
	transition: 0.2s ease-in-out;
	border-radius: 0;
}

button:hover {
	background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
	background-color: rgba(255, 255, 255, 0.2);
}

#workspaces button.urgent {
	background-color: #eb4d4b;
}

#mode {
	background-color: #64727D;
	box-shadow: inset 0 -3px #ffffff;
}

#cpu,
#memory,
#disk {
	color: #71ABB9;
}

#cpu {
	padding: 0 6 0 0;
	color: #83A598;
}

#memory {
	padding: 0 6;
	color: #D3869B;
}

#disk {
	padding: 0 0 0 6;
	margin-right: 24;
	color: #B8BB26;
}

#workspaces button.empty {
	color: rgba(227, 218, 201, 0.5);
}

#window {
	background: transparent;
	color: #ebdbb2;
}

#clock {
	color: #ebdbb2;
	margin: 0 12;
}

@keyframes blink {
to {
	background-color: #ffffff;
	color: #000000;
}
}

#pulseaudio {
	color: #FABD2F;
	padding: 0 12;
	transition: 0.2s ease-in-out;
}

#pulseaudio:hover {
	background-color: #FABD2F;
	color: #282828;
}

#pulseaudio.muted {
	background-color: #90b1b1;
	color: #2a5c45;
}
