* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'JetBrainsMono Nerd Font Propo', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

window#waybar {
    background-color: #162635;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces {
	min-width: 0;
	padding: 0 0;
	margin: 0;
}

#workspaces button {
    padding: 0 10;
    margin: 0;
    background-color: transparent;
    color: #E3DAC9;
    transition: 0.2s ease-in-out;
	border-radius: 0;
}

button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: rgba(255, 255, 255, 0.2);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#cpu,
#memory,
#disk {
    color: #71ABB9;
}

#cpu {
    padding: 0 6 0 0;
    color: #48aedd;
}

#memory {
    padding: 0 6;
    color: #d07bdb;
}

#disk {
    padding: 0 0 0 6;
    margin-right: 24;
    color: #d3cc6c;
}

#workspaces button.empty {
    color: rgba(227, 218, 201, 0.5);
}

#window {
    background: transparent;
    color: #E3DAC9;
}

#clock {
    color: #E3DAC9;
    margin: 0 12;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#backlight {
    background-color: #162635;
    
}

#pulseaudio {
    color: #eec962;
    padding: 0 12;
    transition: 0.2s ease-in-out;
}

#pulseaudio:hover {
    background-color: #eec962;
    color: #162635;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}
